/wp-admin/
/wp-config.php
/wp-content/plugins/
/wp-content/uploads/
/wp-config-sample.php
/wp-content/themes/twentytwentyone/
/wp-content/themes/twentytwentythree/
/wp-content/themes/twentytwentytwo/
/wp-content/upgrade/
