.brands_list {
	.column-item {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 15px;
	}

	.row {
		justify-content: center;
	}
}

.contacts_map {
	height: 400px;
	width: 100%;
}
