.brands_list {
	.column-item {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0 !important;
		max-width: 150px;
		padding: 15px;
		width: 100%;

		a {
			display: block;
			height: auto;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&::after {
			content: "";
			display: block;
			padding: 100% 0 0;
			position: relative;
		}
	}

	.row {
		justify-content: center;
	}
}

.contacts_map {
	height: 400px;
	width: 100%;
}

.elementor-widget-woocommerce-breadcrumb {
	.woocommerce-breadcrumb {
		a {
			&:first-child {
				font-size: 0;
			}
		}
	}
}
